
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Create the underline effect */
.nav-title-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* adjust depending on font */
  width: 0;
  height: 2px;
  background-color: currentColor; /* matches text color */
  transition: width 0.3s ease;
}

/* Animate underline on hover */
.nav-title-link:hover::after {
  width: 100%;
}



/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }
}




/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}